.header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  background: #131921;
  color: white;
  min-height: 30px;
}

.focus {
  padding: 0px 4px;
  border-radius: 6px;
  cursor: pointer;
}

.focus:hover {
  outline: 1px solid white;
}

.logo p {
    display: block;
    margin-block-start: 20px;
    margin-block-end: 20;
    font-size: 22px;
    font-weight: 700;
}

.location span {
  font-size: 12px;
  color: #ccc;
}
.location b {
  font-size: 14px;
}

.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  height: 40px;
  overflow: hidden;
}

.search-bar input {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0px 10px;
  font-size: 15px;
  outline: none;
}

.search-bar button {
    height: 100%;
    background: #febd69;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 18px; */
}
.search-bar button span {
  font-size: 18px;
  color: black;
}


.lang {
  display: flex;
  align-items: center;
  gap: 6px;
}

.lang img {
  width: 22px;
}

.lang select {
  background: transparent;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.sign-in span,
.orders span {
  font-size: 12px;
  color: #ccc;
}

.sign-in b,
.orders b {
  font-size: 14px;
}

.headerimg {
  position: relative;
}

.headerimg img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: fill;
  margin-top: 0px;
}
@media (max-width: 768px) {
  .headerimg img {
    height: 220px;
  }
}